<!doctype html>
<html lang="ja" xml:lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta name="format-detection" content="telephone=no">
    <title>アイドルマスター シンデレラガールズ</title>
    <link rel="stylesheet" type="text/css" href="../../css/rich/new_mypage_common.css" media="all">
    <link rel="apple-touch-icon-precomposed" href="../../image_sp/ui/icon_bookmark.png">
    <script>
        (function() {
            window.console.log = function() {};
        })();
    </script>
    <script type="text/javascript">
        if (window.localStorage) {
            var displaySet = localStorage.getItem('DisplayPositionSet');
            if (displaySet == 1) {
                if (navigator.userAgent.indexOf('Android') > 0) {
                    document.write('<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">');
                    document.getElementsByTagName('html')[0].style.zoom = document.documentElement.clientWidth / 320;
                } else {
                    document.write('<meta name="viewport" content="width=320, user-scalable=no">');
                }
                window.addEventListener('resize', function() {
                    if (navigator.userAgent.indexOf('Android') > 0) document.getElementsByTagName('html')[0].style.zoom = document.documentElement.clientWidth / 320;
                });
            } else {
                document.write('<meta name="viewport" content="width=device-width, user-scalable=no">');
            }
        } else {
            document.write('<meta name="viewport" content="width=device-width, user-scalable=no">');
        }
    </script>
    <script src="../../js/jquery-2.2.2.min.js"></script>
    <script>
        (function() {
            window.viewer_id = 134800333;
            var _url = "http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http://125.6.169.35/idolmaster/game_error/report_js_error";
            var _path = location.href;
            var _spec_obj;
            var _spec = 'none';
            var version = 1;
            // access方法検出
            _spec_obj = {
                'isNative': false,
                'isAndApp': false,
                'isShellApp': false,
                'isIosApp': false,
                'isChromeApp': false
            };
            window._spec = _spec_obj;
            if (_spec.isAndApp) {
                _spec = 'andapp'
            } else if (_spec.isIosApp) {
                _spec = 'iosApp';
            } else if (_spec.isShellApp) {
                _spec = 'shellapp';
            } else {
                _spec = 'browser?';
            }
        })();
    </script>
    <script src="../../js/underscore-min.js"></script>
    <script src="../../js/require.js"></script>
    <script src="../../js/require.js"></script>
    <script>
        requirejs.config({
            paths: {
                easeljs: "../../js/easeljs-0.8.2.min",
                easeljs_0_7_1: "../../js/easeljs-0.7.1.min", //スプライトを読むためのバージョン
                tweenjs: "../../js/tweenjs-0.6.2.min",
                movieclipjs: "../../js/movieclip-0.7.1.min",
                createjs: "../../js/createjs-2015.11.26.min",
            }
        })
    </script>
    <script src="../../js/common.js"></script>
    <script src="../../js/common_new.js"></script>
    <script>
        $(function() {
            window.$ibox = $('.ibox').ibox();
        });
    </script>
    <script>
        $(document).ready(function() {
            if (typeof newrelic === 'object' && typeof newrelic.setPageViewName === 'function') {
                newrelic.setPageViewName('/idolmaster/campaigns/whiteday_present/index');
            }
        });
    </script>
    <script type='text/javascript'>
        var se_flg = 0,
            bgm_flg = 0,
            chrome_app_flg = 0,
            chrome_app_extension_id = 'dnacabmnfmejgfffmcehejcmiciinpej';
    </script>
    <script type='text/javascript' src='../../js/app_sound.js'></script>
    <link rel="stylesheet" type="text/css" href="../../css/base.css" />
</head>

<body id="whiteday_present" class="select_base_idol">
    <div id="top" class="page_container jsOnBtn">
        <nav class="area_menu_header">
        </nav>
        <input id="delay" type="hidden" value="0">
        <link rel="stylesheet" type="text/css" href='../../css/rich/whiteday.css' media="all">
        <div class="main_contents _into_header _select_idol">
            <div class="header_area header_top m-Head_img"></div>
            <div class="whiteday_frame _select_idol m-Cnt m-Btm12">
                <div class="received_idol_btn jsOnDesignBtn"></div>
                <div class="headline">
                    <div class="headline_select_idol m-Cnt"></div>
                </div>
                <div class="_contents m-Cnt m-Top12 m-Btm5">
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/89.html"><span style="font-size: 12px;">鷺沢文香</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/89k.html"><span style="font-size: 12px;">사기사와 후미카</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/196.html"><span style="font-size: 12px;">冴島清美</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/196k.html"><span style="font-size: 12px;">사에지마 키요미</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/12.html"><span style="font-size: 12px;">緒方智絵里</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/12k.html"><span style="font-size: 12px;">오가타 치에리</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/79.html"><span style="font-size: 12px;">水木聖來</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/79k.html"><span style="font-size: 12px;">미즈키 세이라</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/81.html"><span style="font-size: 12px;">三船美優</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/81k.html"><span style="font-size: 12px;">미후네 미유</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/85.html"><span style="font-size: 12px;">新田美波</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/85k.html"><span style="font-size: 12px;">닛타 미나미</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/87.html"><span style="font-size: 12px;">古澤頼子</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/87k.html"><span style="font-size: 12px;">후루사와 요리코</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/91.html"><span style="font-size: 12px;">ﾗｲﾗ</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/91k.html"><span style="font-size: 12px;">라이라</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/97.html"><span style="font-size: 12px;">高垣楓</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/97k.html"><span style="font-size: 12px;">타카가키 카에데</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/98.html"><span style="font-size: 12px;">神崎蘭子</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/98k.html"><span style="font-size: 12px;">칸자키 란코</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/123.html"><span style="font-size: 12px;">速水奏</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/123k.html"><span style="font-size: 12px;">하야미 카나데</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/127.html"><span style="font-size: 12px;">ｱﾅｽﾀｼｱ</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/127k.html"><span style="font-size: 12px;">아나스타샤</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/129.html"><span style="font-size: 12px;">結城晴</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/129k.html"><span style="font-size: 12px;">유우키 하루</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/131.html"><span style="font-size: 12px;">桐生つかさ</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/131k.html"><span style="font-size: 12px;">키류 츠카사</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/133.html"><span style="font-size: 12px;">鷹富士茄子</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/133k.html"><span style="font-size: 12px;">타카후지 카코</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/155.html"><span style="font-size: 12px;">衛藤美紗希</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/155k.html"><span style="font-size: 12px;">에토 미사키</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/158.html"><span style="font-size: 12px;">堀裕子</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/158k.html"><span style="font-size: 12px;">호리 유코</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/197.html"><span style="font-size: 12px;">佐藤心</span></a>
                    </div>
                    <div class="m-Btm8" style="display:inline-block;"><a class="btn_normal_line_2" href="base_idol_comment_present_swf_petit/2021/197k.html"><span style="font-size: 12px;">사토 신</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="selectArea type_02 m-Top12">
            <div class="selectArea_accordion_headline">
                주의사항
            </div>
            <div class="selectArea_accordion">
                <div class="selectArea_accordion_title">
                    <div>화이트데이 답례 켐페인에 대해서</div>
                </div>
                <div class="selectArea_accordion_body t-Lft">
                    <div class="selectArea_accordion_body_inner">
                        <p>・本キャンペーンのアイドルのコメントは、2020年の「ホワイトデーお返しキャンペーン」の復刻となります。</p>
                        <p>・キャンペーン期間中はアイドルにバレンタインのお返しを渡しに行くことができます。</p>
                        <p>・アイドルに渡したお返しは、最大3人分プロデューサーも獲得することができます。</p>
                        <p class="gray">※獲得できるお返しは贈り物リストに送られます。</p>
                        <p>・同じアイドルにお返しを渡して、プロデューサーが獲得できるのは1回までです。</p>
                        <p>・本キャンペーンでお返しを渡すことのできるアイドルは、ぷちデレラが追加されているアイドルのみとなります。</p>
                        <p>・キャンペーン期間中は何度でもアニメーション演出を見ることができます。</p>
                        <p>・サーバーのレスポンス状況、通信状況によっては、アニメーション演出がご覧いただけない場合がございます。あらかじめご了承ください。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-Top12">
            <a href='../../mypage.html'>
                <div class="backLink">마이스튜디오</div>
            </a>
        </div>
        <img src='../../image_sp/DUMMY.png' id="js_dummy_path" style="display:none">
        <script type="text/template" id="template_idol_confirm">
            <div class="idol_confirm-area bg_<%- bg %> p-Btm2">
            <div class="idol-area">
                <div class="text-area p-Btm4">
                    <form action='base_idol_comment_present_swf_petit/2021/' method="get">
                    <input type="hidden" name="keyword" value="<%- keyword %>">
                    <input type="hidden" name="offset" value="<%- offset %>">
                    <input type="hidden" name="idol_base_id" value="<%- id %>"><% if(checkbox && !have_seen) { %><div class="search_checkbox_2 popup_chk_box m-Cnt m-Top8"><span class="line_2">このアイドルに<br>お返しを渡す</span>
                    <input class="checkbox" type="checkbox" value="1" name="confirm_flag"></div><% } %><% submit_class = (checkbox && !have_seen) ? '_disabled' : ''%>
                    <label class="<%- submit_class %>"><% if(checkbox && !have_seen) { %><input type="submit" class="submit-button m-Cnt m-Top8 jsOnDesignBtn">
                        <div class="disabled-button m-Cnt m-Top8">
                        </div>
                        <% } %><% if(!checkbox || have_seen) { %><input type="submit" class="submit-button2 m-Cnt m-Top8 jsOnDesignBtn"><% } %>
                    </label>
                    </form>
                </div>
            </div>
        </script>
        <script type="text/template" id="template_item_get">
        </script>
        <script src="../../js/ilibrary.js"></script>
        <script src="../../js/petit_cg/cheek/cheek1.js"></script>
        <script src="../../js/petit_cg/cheek/cheek2.js"></script>
        <script src="../../js/petit_cg/cheek/cheek3.js"></script>
        <script src="../../js/min/petit_manager_cjs_2.min.js"></script>
        <script type="text/template" id="template_received_idol">
            <div class="idol_received_area">
                <div id="animation-container">
                </div>
                <div class="name_plate num_3">
                    <img src='../../image_sp/ui/coming_tv/name_tag_horizontal/089.png'>
                    <img src='../../image_sp/ui/coming_tv/name_tag_horizontal/196.png'>
                    <img src='../../image_sp/ui/coming_tv/name_tag_horizontal/087.png'>
                </div>
                <div class="remember_btn_area num_3">
                    <form action='base_idol_comment_present_swf_petit/2021/89.html' method="get">
                        <input type="hidden" name="offset" value="12">
                        <input type="hidden" name="keyword" value="">
                        <input type="hidden" name="idol_base_id" value="89">
                        <input type="submit" class="jsOnDesignBtn">
                    </form>
                    <form action='base_idol_comment_present_swf_petit/2021/196.html' method="get">
                        <input type="hidden" name="offset" value="12">
                        <input type="hidden" name="keyword" value="">
                        <input type="hidden" name="idol_base_id" value="196">
                        <input type="submit" class="jsOnDesignBtn">
                    </form>
                    <form action='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http://125.6.169.35/idolmaster/campaigns/whiteday_present/see_idol_flash' method="get">
                        <input type="hidden" name="offset" value="12">
                        <input type="hidden" name="keyword" value="">
                        <input type="hidden" name="idol_base_id" value="87">
                        <input type="submit" class="jsOnDesignBtn">
                    </form>
                </div>
            </div>
        </script>
        <script>
            $(function() {
                window.dummy_path = $('#js_dummy_path').attr('src');
                var is_popup_open = false;
                var cjs_file = ['../../js/petit_cjs/petit_base.js'];
                var petitManager = window.petitManager || new PetitManager();
                var petitCanvasWidth = 608;
                var petitCanvasHeight = 386;
                var charaManager = [];
                var characterList = [];
                var petie_list = [{
                    "attribute": "2",
                    "body_type": "1",
                    "breast_size": "2",
                    "short_name": "\u6587\u9999",
                    "image_url_list": {
                        "expression_1033": "../../js/petit_cg/expression/1033.js",
                        "hair_10033": "../../js/petit_cg/hair/10033.js",
                        "costume_1_20033": "../../js/petit_cg/costume/1/20033.js"
                    },
                    "sub_type_list": {
                        "head": null,
                        "hand": null,
                        "leg": null
                    },
                    "take_sub_type": {
                        "head": 1,
                        "hand": 1,
                        "leg": 1
                    },
                    "petit_csv_info_list": {
                        "costume_1_20033": {
                            "image_path": "http:\/\/sp.pf-img-a.mbga.jp\/12008305\/?guid=ON&amp;url=http://125.6.169.35/idolmaster/image_sp/item/l/petit_cg/20033",
                            "accessory_name": "ストールコーデ・文香",
                            "explanation": "大判のストールを使った文香の私服です。<br>オシャレというものには疎くて…。",
                            "type_id": "2"
                        }
                    },
                    "petit_csv_sub_type_info_list": []
                }, {
                    "attribute": "3",
                    "body_type": "1",
                    "breast_size": "2",
                    "short_name": "\u6e05\u7f8e",
                    "image_url_list": {
                        "expression_1108": "../../js/petit_cg/expression/1108.js",
                        "hair_10108": "../../js/petit_cg/hair/10108.js",
                        "costume_1_20108": "../../js/petit_cg/costume/1/20108.js",
                        "head_1_30108": "../../js/petit_cg/head/1/30108.js"
                    },
                    "sub_type_list": {
                        "head": {
                            "head_1_30108": "../../js/petit_cg/head/1/30108.js"
                        },
                        "hand": null,
                        "leg": null
                    },
                    "take_sub_type": {
                        "head": 0,
                        "hand": 1,
                        "leg": 1
                    },
                    "petit_csv_info_list": {
                        "costume_1_20108": {
                            "image_path": "http:\/\/sp.pf-img-a.mbga.jp\/12008305\/?guid=ON&amp;url=http://125.6.169.35/idolmaster/image_sp/item/l/petit_cg/20108",
                            "accessory_name": "制服A・清美",
                            "explanation": "清美が通う学校の制服です。<br>腕章は手作り! 身だしなみはきっちりと!",
                            "type_id": "2"
                        },
                        "head_1_30108": {
                            "image_path": "http:\/\/sp.pf-img-a.mbga.jp\/12008305\/?guid=ON&amp;url=http://125.6.169.35/idolmaster/image_sp/item/l/petit_cg/30108",
                            "accessory_name": "銀縁眼鏡・清美",
                            "explanation": "しっかり者の印象をあたえる銀縁眼鏡。<br>伊達です! まずは形から入ります!",
                            "type_id": "3"
                        }
                    },
                    "petit_csv_sub_type_info_list": {
                        "head_1_30108": {
                            "image_path": "http:\/\/sp.pf-img-a.mbga.jp\/12008305\/?guid=ON&amp;url=http://125.6.169.35/idolmaster/image_sp/item/l/petit_cg/30108",
                            "accessory_name": "銀縁眼鏡・清美",
                            "explanation": "しっかり者の印象をあたえる銀縁眼鏡。<br>伊達です! まずは形から入ります!",
                            "type_id": "3"
                        }
                    }
                }, {
                    "attribute": "2",
                    "body_type": "1",
                    "breast_size": "2",
                    "short_name": "\u983c\u5b50",
                    "image_url_list": {
                        "expression_1101": "../../js/petit_cg/expression/1101.js",
                        "hair_10101": "../../js/petit_cg/hair/10101.js",
                        "costume_1_20101": "../../js/petit_cg/costume/1/20101.js",
                        "head_1_30101": "../../js/petit_cg/head/1/30101.js"
                    },
                    "sub_type_list": {
                        "head": {
                            "head_1_30101": "../../js/petit_cg/head/1/30101.js"
                        },
                        "hand": null,
                        "leg": null
                    },
                    "take_sub_type": {
                        "head": 0,
                        "hand": 1,
                        "leg": 1
                    },
                    "petit_csv_info_list": {
                        "costume_1_20101": {
                            "image_path": "http:\/\/sp.pf-img-a.mbga.jp\/12008305\/?guid=ON&amp;url=http://125.6.169.35/idolmaster/image_sp/item/l/petit_cg/20101",
                            "accessory_name": "カーデコーデ・頼子",
                            "explanation": "ピンク色のカーディガンが印象的な頼子の私服です。<br>頼子らしいシンプルなコーデ。",
                            "type_id": "2"
                        },
                        "head_1_30101": {
                            "image_path": "http:\/\/sp.pf-img-a.mbga.jp\/12008305\/?guid=ON&amp;url=http://125.6.169.35/idolmaster/image_sp/item/l/petit_cg/30101",
                            "accessory_name": "赤縁眼鏡・頼子",
                            "explanation": "頼子の赤い縁の眼鏡です。<br>レンズ越しの風景を…。",
                            "type_id": "3"
                        }
                    },
                    "petit_csv_sub_type_info_list": {
                        "head_1_30101": {
                            "image_path": "http:\/\/sp.pf-img-a.mbga.jp\/12008305\/?guid=ON&amp;url=http://125.6.169.35/idolmaster/image_sp/item/l/petit_cg/30101",
                            "accessory_name": "赤縁眼鏡・頼子",
                            "explanation": "頼子の赤い縁の眼鏡です。<br>レンズ越しの風景を…。",
                            "type_id": "3"
                        }
                    }
                }];
                if (window.popup == void 0) window.popup = popup = new Commonjs.Popup();
                var template = $('#template_idol_confirm').html();
                var received_template = $('#template_received_idol').html();
                var item_get_template = $('#template_item_get').html();
                var checkbox = 1;
                $('.js_ibox_trigger').on('click', function(e) {
                    e.preventDefault();
                    if (is_popup_open) {
                        return;
                    } else {
                        is_popup_open = true;
                    }
                    var param = $(this).data();
                    param.checkbox = checkbox;
                    $.ajax({
                        url: param.petit,
                        type: 'get',
                        history: 0
                    }).success(function(data) {
                        if (typeof data.accessory_list === "undefined") {
                            location.href = 'http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http://125.6.169.35/idolmaster/game_error';
                            return;
                        }
                        characterList = [];
                        characterList[0] = data.accessory_list;
                        charaManager = [];
                        petitManager.constructor();
                        petitManager.canvas_width = petitCanvasWidth;
                        petitManager.canvas_height = petitCanvasHeight;
                        petitManager.canvas_recreate_flag = true;
                        var deffered = petitManager.requireCJS(cjs_file);
                        deffered.done(function() {
                            petitManager.setCharacters(characterList);
                            charaManager = petitManager.getAllChracter();
                        });
                        petitManager.loaded_action = function() {
                            petitManager.stage.removeAllChildren();
                            charaManager[0].cjs['visible'] = true;
                            charaManager[0].cjs.scaleX = charaManager[0].cjs.scaleY = 2.2;
                            charaManager[0].cjs['x'] = petitCanvasWidth / 2 + 16;
                            charaManager[0].cjs['y'] = petitCanvasHeight - 30;
                            petitManager.stage.addChild(charaManager[0].cjs);
                            petitManager.stage.update();
                        }
                        param.name_plate_path = dummy_path.replace('DUMMY.png', 'ui/coming_tv/name_tag_horizontal/' + param.name_id + '.png');
                        popup.set({
                            "title": "アイドル確認",
                            "contents": _.template(template, param),
                            "full_display_flg": true,
                            "new_layout": true
                        });
                        if (checkbox) {
                            popup.on('open', function() {
                                setSearchCheckBox(".popup_chk_box");
                            });
                        }
                        popup.on('close', function() {
                            is_popup_open = false;
                        });
                        popup.open();
                    })
                });
                $('.received_idol_btn').on('click', function(e) {
                    e.preventDefault();
                    if (is_popup_open) {
                        return;
                    } else {
                        is_popup_open = true;
                    }
                    var deffered = petitManager.requireCJS(cjs_file);
                    petitManager.constructor();
                    petitManager.canvas_width = 608;
                    petitManager.canvas_height = 436;
                    petitManager.canvas_recreate_flag = true;
                    charaManager = [];
                    deffered.done(function() {
                        petitManager.setCharacters(petie_list);
                        charaManager = petitManager.getAllChracter();
                    });
                    var charaPositionX = [
                        [petitCanvasWidth / 2 + 14],
                        [petitCanvasWidth / 3 + 10, (petitCanvasWidth / 3) * 2 + 10],
                        [petitCanvasWidth / 2 + 14, petitCanvasWidth / 4 - 28, (petitCanvasWidth / 4) * 3 + 50]
                    ];
                    petitManager.loaded_action = function() {
                        petitManager.stage.removeAllChildren();
                        var charaCount = Object.keys(charaManager).length - 1;
                        var count = 0;
                        for (var i in charaManager) {
                            charaManager[i].cjs['visible'] = true;
                            charaManager[i].cjs.scaleX = charaManager[i].cjs.scaleY = 1.9;
                            charaManager[i].cjs['x'] = charaPositionX[charaCount][count];
                            charaManager[i].cjs['y'] = 314;
                            petitManager.stage.addChild(charaManager[i].cjs);
                            count++;
                        }
                        petitManager.stage.update();
                    }
                    popup.set({
                        "title": "발렌타인에 선물을 받았던 아이돌",
                        "contents": _.template(received_template, $(this).data()),
                        "full_display_flg": true,
                        "new_layout": true
                    });
                    popup.on('close', function() {
                        is_popup_open = false;
                    });
                    popup.open();
                });
                var setSearchCheckBox = function(checkbox) {
                    $(checkbox).on('click', function(e) {
                        var $t = $(e.currentTarget);
                        if ($t.hasClass("_selected")) {
                            $t.removeClass("_selected");
                            $t.find("input").prop("checked", false).trigger('change');
                            $t.next().addClass('_disabled');
                            $t.next().find("input").prop('disabled', true);
                        } else {
                            $t.addClass("_selected");
                            $t.find("input").prop("checked", true).trigger('change');
                            $t.next().removeClass('_disabled');
                            $t.next().find("input").prop('disabled', false);
                        }
                    })
                };
                Commonjs.setSearchClear({
                    $trigger: $(".js_btn_clear"),
                    targets: [$("#search_idol_name"), $('.checkbox')],
                });
                Commonjs.setSearchCheckBox($(".chk_box"));
                Commonjs.setSearchMore({
                    $trigger: $("#js_btn_deck_search_more"),
                    $contents: $("#js_deck_search_more_contents"),
                });
                Commonjs.setAccordion();
                Commonjs.setSearchCheckBox($(".search_checkbox_2, .search_checkbox_single"));
                Commonjs.setSearchMore({
                    $trigger: $("#js_btn_search_more"),
                    $contents: $("#js_search_more_contents"),
                });
            });
        </script>
        <footer>
            <div class="line_idolmaster"></div><a href="#top" id="toPageTop" class="mypage_under">
                <div></div>
            </a>
        </footer>
    </div>
    <script>
        window._tarminal = {
            'native_app_flg': false,
            'android_app_flg': false,
            'ios_app_flg': false,
            'shell_app_flg': false
        };
    </script>
    <script>
        window._tarminal = {
            'native_app_flg': false,
            'android_app_flg': false,
            'ios_app_flg': false,
            'shell_app_flg': false
        };
    </script>
    <div id="mbga-pf-footer">
        <script type="text/javascript" charset="UTF-8">
            (function() {
                document.addEventListener('DOMContentLoaded', function() {
                    var list = document.getElementsByClassName('mbga-pf-footer-li');
                    var i = 0,
                        l = list.length;
                    for (; i < l; i++) {
                        var elem = list[i];
                        elem.addEventListener('touchstart', function(e) {
                            e.currentTarget.className = e.currentTarget.className.replace(/$/, ' mbga-pf-tapped');
                        });
                        elem.addEventListener('touchend', function(e) {
                            e.currentTarget.className = e.currentTarget.className.replace(/ mbga-pf-tapped/, '');
                        });
                        elem.addEventListener('touchmove', function(e) {});
                    }
                });
            })();
        </script>
    </div>
</body>

</html>
