<!doctype html>
<html lang="ja" xml:lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta name="format-detection" content="telephone=no">
    <title>アイドルマスター シンデレラガールズ</title>
    <link rel="stylesheet" type="text/css" href="../../../../../css/game/pex.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../../../../css/rich/quest_new.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../../../../css/rich/new_mypage_common.css" media="all">
    <link rel="apple-touch-icon-precomposed" href="../../../../../image_sp/ui/icon_bookmark.png">
    <script>
        (function() {
            window.console.log = function() {};
        })();
    </script>
    <script type="text/javascript">
        if (window.localStorage) {
            var displaySet = localStorage.getItem('DisplayPositionSet');
            if (displaySet == 1) {
                if (navigator.userAgent.indexOf('Android') > 0) {
                    document.write('<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">');
                    document.getElementsByTagName('html')[0].style.zoom = document.documentElement.clientWidth / 320;
                } else {
                    document.write('<meta name="viewport" content="width=320, user-scalable=no">');
                }
                window.addEventListener('resize', function() {
                    if (navigator.userAgent.indexOf('Android') > 0) document.getElementsByTagName('html')[0].style.zoom = document.documentElement.clientWidth / 320;
                });
            } else {
                document.write('<meta name="viewport" content="width=device-width, user-scalable=no">');
            }
        } else {
            document.write('<meta name="viewport" content="width=device-width, user-scalable=no">');
        }
    </script>
    <script src="../../../../../js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="../../../../../js/common.js" type="text/javascript"></script>
    <script src="../../../../../js/common_new.js" type="text/javascript"></script>
    <script src='../../../../../js/min/quest/event_date_quest_memory.min.js' type="text/javascript"></script>
    <script type="text/javascript" src="../../../../../js/pex-1.2.0.js"></script>
    <script src="../../../../../js/underscore-min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            if (typeof newrelic === 'object' && typeof newrelic.setPageViewName === 'function') {
                newrelic.setPageViewName('/idolmaster/index.php/memory_produce/work_memory/1725/3/1');
            }
        });
    </script>
    <script type='text/javascript'>
        var se_flg = 0,
            bgm_flg = 0,
            chrome_app_flg = 0,
            chrome_app_extension_id = 'dnacabmnfmejgfffmcehejcmiciinpej';
    </script>
    <script type='text/javascript' src='../../../../../js/app_sound.js'></script>
    <link rel="stylesheet" type="text/css" href="../../../../../css/base.css" />
</head>

<body id="memory_produce">
    <div id="pageArea" onUnload="unloadBye()">
        <div id="top" class="page_container jsOnBtn">
            <script src="../../../../../js/event/effect_produce.js" type="text/javascript"></script>
            <link rel="stylesheet" type="text/css" href='../../../../../css/rich/event_produce.css' media="all">
            <div id="look_back_layout">
                <div id="wrap" style="position:relative">
                    <div id="musk" style="height:1px; display:none;">
                    </div>
                    <section id="direction_stage" style='background-image:url(../../../../../image_sp/event/1711/bg_area_xl_5300.png); background-repeat:no-repeat; background-size:100%; background-position:right bottom;'>
                        <div id="area_status" style="display:none;">
                            <img src="../../../../../image_sp/ui/rich/quest/event/produce/communication_perfet.png" id="res_perfet" style="width:258px; position:absolute; top:0px: left:0px; display:none;">
                            <img src="../../../../../image_sp/ui/rich/quest/event/produce/communication_good.png" id="res_good" style="width:258px; position:absolute; top:0px: left:0px; display:none;">
                            <img src="../../../../../image_sp/ui/rich/quest/event/produce/communication_normal.png" id="res_normal" style="width:258px; position:absolute; top:0px: left:0px; display:none;">
                        </div>
                        <div id="loading" style="display:none;">
                            <div id="load1" style="display:none;">
                                <img src='../../../../../image_sp/ui/rich/quest/working_1.gif' class="working_img"><br>
                                <img src='../../../../../image_sp/ui/rich/quest/loading.gif' class="load_img"><br>
                                <img src='../../../../../image_sp/ui/rich/quest/loading/101007.gif' class="load_img"><br>
                                <img src='../../../../../image_sp/ui/rich/quest/loading/100584.gif' class="load_img"><br>
                                <img src='../../../../../image_sp/ui/rich/quest/loading/100441.gif' class="load_img"><br>
                                <img src='../../../../../image_sp/ui/rich/quest/loading/100912.gif' class="load_img"><br>
                                <img src='../../../../../image_sp/ui/rich/quest/loading/101199.gif' class="load_img"><br>
                                <img src='../../../../../image_sp/ui/rich/quest/loading/100304.gif' class="load_img"><br>
                                <img src='../../../../../image_sp/ui/rich/quest/loading/101325.gif' class="load_img"><br>
                                <img src='../../../../../image_sp/ui/rich/quest/loading/100930.gif' class="load_img"><br>
                                <img src='../../../../../image_sp/ui/rich/quest/loading/101480.gif' class="load_img"><br>
                                <img src='../../../../../image_sp/ui/rich/quest/loading/101608.gif' class="load_img"><br>
                            </div>
                            <div id="load2" style="display:none;">
                                <img src='../../../../../image_sp/ui/rich/quest/working_2.gif' class="working_img"><br>
                                <img src='../../../../../image_sp/ui/rich/quest/loading_ami.gif' class="load_img"><br>
                            </div>
                        </div>
                        <div id="animation" style="display:none;"></div>
                        <canvas id="animation_effect_canvas" style="position:absolute;top:10px;left:0px;width:320px;height:280px;z-index:1;pointer-events:none;overflow:hidden"></canvas>
                        <div id="play_commu_result_view" class="result_commu" style="display:none;"></div>
                        <a href="http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http://125.6.169.35/idolmaster/bonus_point%3Fl_frm%3DMemory_produce_work_memory_1%26rnd%3D700888310" id="bonus_point" style="display:none;">
                            <div></div>
                        </a>
                        <a href="#" id="love_max_bonus" style="display:none;">
                            <div></div>
                        </a>
                        <div id="flash_voice" class="voice_play" style="display:none;"></div>
                        <div id="date_info">
                            <img src="../../../../../image_sp/ui/rich/quest/event/produce/button_use_item.png" style="width:63px; opacity:0.5; display:none; margin-bottom:5px;" id="choose_item_open" class="jsOnDesignBtn"><br>
                        </div>
                        <div id="idol_view" style="bottom:-32px;"></div>
                        <div id="communication_result_idol" style="bottom:-32px;"></div>
                        <div id="choose_item" class="jsOnDesignBtn-wrap" style="display:none;"></div>
                        <div id="choose_energy_item" style="display:none;"></div>
                        <div id="get_reward" style="display:none;"></div>
                        <div id="wipe" style="display:none; top:0px;">
                            <img src="../../../../../image_sp/ui/rich/quest/wipe.png" id="wipe_reverse" style="display:none;">
                        </div>
                        <a href="#" id="change_comment" style="display:none;" class="se_008" onclick="return false;"></a>
                    </section>
                    <section id="play_area" style='background-image:url(../../../../../image_sp/ui/rich/quest/footer_bg.png); background-repeat:no-repeat; background-size:100%; background-position:0px 2px;height:30px'>
                        <form action='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http://125.6.169.35/idolmaster/ajax_play%3Fl_frm%3DMemory_produce_work_memory_1%26rnd%3D656156814' method="post" id="play">
                            <input type="button" value="" id="play_button" class="play_btn_df se_008">
                            <input type="hidden" name="area_id" value="3">
                            <input type="hidden" name="quest_id" value="1">
                            <input type="hidden" name="res_type" value="json">
                        </form>
                        <div id="open_commu_event_button" class="open_commu" style="display:none;"></div>
                        <div id="play_commu_result_button" class="result_commu" style="display:none;"></div>
                        <div class="area_play_guide">
                            <div class="text_elem">
                                <span class="_attr_2">키요미</span> 커뮤 이벤트 1
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <a href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http://125.6.169.35/idolmaster/get_raid_boss%3Fres_type%3Djson%26l_frm%3DMemory_produce_work_memory_1%26rnd%3D535553889' id="communication_event_json" style="display:none;"></a>
            <script type="text/template" id="template_choose_item">
                <section class="t-Cnt m-Top10 m-Btm10 l-Hgt140" id="itemSelect">
<div class="m-Cnt" style="width:280px;">
<img src='../../../../../image_sp/gacha/chance/button_chance_item_exit01.png' id="choose_item_close">
<div class="displayBox" style="-webkit-box-pack:justify;">
<form action='0.json' method="get"<% if (raid_boss.boss_type !== 'extra') { %> style="width:88px;"<% } %>>
<input type="hidden" name="use_item" value="3">
<input type="hidden" name="area_id" value="3">
<input type='hidden' name="max_use_flag" id="max_use_flag" value="0">
<div>
<input type="image" src='../../../../../image_sp/event/produce/sprite/lookback/btn_normal.png' class="jsOnDesignBtn" width="88" value=""><br>
</div>
</form>
<form action='1.json' method="get"<% if (raid_boss.boss_type !== 'extra') { %> style="width:88px;"<% } %>>
<input type="hidden" name="use_item" value="3">
<input type="hidden" name="area_id" value="3">
<input type='hidden' name="max_use_flag" id="max_use_flag" value="1">
<div>
<input type="image" src='../../../../../image_sp/event/produce/sprite/lookback/btn_good.png' class="jsOnDesignBtn" width="88" value=""><br>
</div>
</form>
<form action='2.json' method="get" style="width:88px;">
<div>
<input type="hidden" name="use_item" value="1">
<input type="hidden" name="area_id" value="3">
<input type="image" src='../../../../../image_sp/event/produce/sprite/lookback/btn_perfect.png' class="jsOnDesignBtn" width="88" value=""><br>
</div>
</form>
</div>
<div class="t-Cnt m-Top4" style="font-size:12px">
※アイテムは使用されません
</div>
</div>
</section>
</script>
            <a href='https://uhlmkashim.github.io/anniversary/memory/detail/1711/10020/Memory_index_1.html'>
                <div class="backLink">이벤트 메모리 상세에</div>
            </a>
            <div id="loadImages"></div>
            <img id="background_image" src='../../../../../image_sp/event_flash/1711/bg/1711/bg00_rich.png' style="display:none;">
            <img id="dummy_image" src='../../../../../image_sp/event_flash/1711/idol/dummy.png' style="display:none;">
            <script type="text/javascript">
                $(window).load(function() {
                    Imascg.QuestImage.init({
                        image_url: "",
                        image_server: "",
                        gadget_server: ""
                    });
                    Imascg.QuestModel.init({
                        title: "コミュイベントメモリー",
                        title_name_short_flag: true
                    });
                    //Imascg.QuestIdolImage.init(null);
                    // イベントデータの初期化
                    Imascg.IdolProduce.init(1725, false, "http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http://125.6.169.35/idolmaster/get_raid_boss%3Fres_type%3Djson%26l_frm%3DMemory_produce_work_memory_2%26rnd%3D18506057", 3, 1, 0, "normal");
                    Imascg.IdolProduce.drawEventInfo({
                        "fever": null,
                        "has_raid": false,
                        "idol_id": "3",
                        "communication_id": "1",
                        "swf_params": {
                            "url": "http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http://125.6.169.35/idolmaster/event_produce/index%3Fl_frm%3DMemory_produce_work_memory_2",
                            "com_mode": 1,
                            "lv_f": 4,
                            "lv_b": "5",
                            "heart_f": 0,
                            "emo": "1",
                            "effect": "0",
                            "card_comm1": "수영복은 물론, 학교지정된 것을 가지고 왔어요. 요컨대, 제복 같은 것이니까요.",
                            "card_comm": "수영복은 물론, 학교지정된 것을 가지고 왔어요. 요컨대, 제복 같은 것이니까요.",
                            "lv_inf_flg": 1,
                            "short_flg": 0,
                            "momorial_power": 0,
                            "training_room_flag": 0,
                            "puchi_power": 0,
                            "item_type": null,
                            "character_num": 1,
                            "ch": "3_1",
                            "pair_produce_idol_id": false,
                            "card_comm1_1": "수영복은 물론, 학교지정된",
                            "card_comm1_2": "것을 가지고 왔어요. 요컨대,",
                            "card_comm1_3": "제복 같은 것이니까요."
                        },
                        "flash_id": 544056,
                        "swf_images": {
                            "1": "../../../../../image_sp/event_flash/1711/bg/1711/bg00_rich.png",
                            "4": "../../../../../image_sp/event_flash/common/name_plate/196.png",
                            "7": "../../../../../image_sp/event_flash/1711/idol/dummy.png",
                            "12": "../../../../../image_sp/event_flash/1711/idol/idol_3_0_1_1.png",
                            "17": "../../../../../image_sp/event_flash/1711/idol/dummy.png"
                        },
                        "params": {
                            "raid_type": "normal"
                        }
                    });
                    Imascg.IdolProduce.EnergyItem.init({
                        item_url: "http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http://125.6.169.35/idolmaster/user_energy_items%3Fl_frm%3DMemory_produce_work_memory_1%26rnd%3D349183549"
                    });
                    Commonjs.setSearchMore({
                        $trigger: $("#js_btn_more"),
                        $contents: $("#js_more_contents"),
                    });
                    $('#js_btn_more').on('click', function() {
                        $(this).toggleClass('_alone');
                    });
                });
            </script>
            <footer>
                <div class="line_idolmaster"></div><a href="#top" id="toPageTop" class="mypage_under">
                    <div></div>
                </a>
            </footer>
        </div>
    </div>
    <script>
        window._tarminal = {
            'native_app_flg': false,
            'android_app_flg': false,
            'ios_app_flg': false,
            'shell_app_flg': false
        };
    </script>
    <div id="mbga-pf-footer">
        <script type="text/javascript" charset="UTF-8">
            (function() {
                document.addEventListener('DOMContentLoaded', function() {
                    var list = document.getElementsByClassName('mbga-pf-footer-li');
                    var i = 0,
                        l = list.length;
                    for (; i < l; i++) {
                        var elem = list[i];
                        elem.addEventListener('touchstart', function(e) {
                            e.currentTarget.className = e.currentTarget.className.replace(/$/, ' mbga-pf-tapped');
                        });
                        elem.addEventListener('touchend', function(e) {
                            e.currentTarget.className = e.currentTarget.className.replace(/ mbga-pf-tapped/, '');
                        });
                        elem.addEventListener('touchmove', function(e) {});
                    }
                });
            })();
        </script>
    </div>
</body>

</html>
