<!doctype html>
<html lang="ja" xml:lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="-1">
        <meta name="format-detection" content="telephone=no">
        <title>アイドルマスター シンデレラガールズ</title>
        <link rel="stylesheet" type="text/css" href="../css/rich/new_mypage_common.css" media="all">
        <link rel="stylesheet" type="text/css" href="../css/rich/event_produce.css" media="all">
        <link rel="apple-touch-icon-precomposed" href="../image_sp/ui/icon_bookmark.png">
        <script>
            (function() {
                window.console.log = function() {}
                ;
            }
            )();
        </script>
        <script type="text/javascript">
            if (window.localStorage) {
                var displaySet = localStorage.getItem('DisplayPositionSet');
                if (displaySet == 1) {
                    if (navigator.userAgent.indexOf('Android') > 0) {
                        document.write('<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">');
                        document.getElementsByTagName('html')[0].style.zoom = document.documentElement.clientWidth / 320;
                    } else {
                        document.write('<meta name="viewport" content="width=320, user-scalable=no">');
                    }
                    window.addEventListener('resize', function() {
                        if (navigator.userAgent.indexOf('Android') > 0)
                            document.getElementsByTagName('html')[0].style.zoom = document.documentElement.clientWidth / 320;
                    });
                } else {
                    document.write('<meta name="viewport" content="width=device-width, user-scalable=no">');
                }
            } else {
                document.write('<meta name="viewport" content="width=device-width, user-scalable=no">');
            }
        </script>
        <script src="../js/jquery-2.2.2.min.js"></script>
        <script src="../js/underscore-min.js"></script>
        <script src="../js/common.js"></script>
        <script src="../js/common_new.js"></script>
        <script>
            $(function() {
                window.$ibox = $('.ibox').ibox();
            });
        </script>
        <script>
            $(document).ready(function() {
                if (typeof newrelic === 'object' && typeof newrelic.setPageViewName === 'function') {
                    newrelic.setPageViewName('/idolmaster/index.php/event_produce/select_idol_for_memorial');
                }
            });
        </script>
        <script type='text/javascript'>
            var se_flg = 0
              , bgm_flg = 0
              , chrome_app_flg = 0
              , chrome_app_extension_id = 'dnacabmnfmejgfffmcehejcmiciinpej';
        </script>
        <script type='text/javascript' src='../js/app_sound.js'></script>
        <link rel="stylesheet" type="text/css" href="../css/base.css"/>
    </head>
    <body id="event_produce">
        <div id="top" class="page_container jsOnBtn">
            <script>
                var $btnEventLogo = $('.jsBtnEventLogo');
                var $btnGameMenu = $('.jsGameMenu');
                var $menuElem = $('#headerPopupMenu');
                // ゲームメニューは消しておく
                $btnGameMenu.hide();
                // メニュー開閉で表示制御
                $('#headerAcd').on('click', function() {
                    if ($menuElem.css('display') == 'none') {
                        $btnEventLogo.hide();
                        $btnGameMenu.show();
                    } else {
                        $btnEventLogo.show();
                        $btnGameMenu.hide();
                    }
                });
            </script>
            <input id="delay" type="hidden" value="0">
            <style>
                .event_contents .information_light {
                    padding-left: 8px;
                }
            </style>
            <div class="event_contents _bluegreen _into_header">
                <div class="frame-event _ m-Cnt m-Top12">
                    <div class="_wrapper p-Top12 p-Btm4">
                        <div class="_contents m-Btm8">
                            <div class="jsOnDesignBtn" data-attribute="cool">
                                <a href="select_idol_result/9_89.html" class="jsOnDesignBtn"><img src='../image_sp/event/1731/commu/idol_7089_0_1_1.png' height="100"></a>
                                <div class="memorial_extra_idol_name _attr_cool">鷺沢文香</div>
                            </div>
                            <div class="memorial_extra_idol _9th jsBtnPopupExtraIdol jsOnDesignBtn" data-key="0" data-attribute="cool">
                                <img src='../image_sp/event/1731/commu/idol_7089_0_1_1.png' class="memorial_extra_idol_image">
                                <div class="memorial_extra_idol_name _attr_cool">鷺沢文香</div>
                            </div>
                            <div class="memorial_extra_idol _9th jsBtnPopupExtraIdol jsOnDesignBtn" data-key="1" data-attribute="passion">
                                <img src='../image_sp/event/1731/commu/idol_7196_0_1_1.png' class="memorial_extra_idol_image">
                                <div class="memorial_extra_idol_name _attr_passion">冴島清美</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="information_light infortext_nosp m-Top12">
                    <p>・「the 9th Anniversaryの思い出」では、お仕事中にアイドルからコメントをもらう、もしくはプレゼントBOXを5個使用することでアイドルからのコメントが解放され、アイドルと何度でも振り返ることができます。</p>
                    <p>※メモリアルプロデュース「the 6th Anniversary」で発生するエクストラコミュイベントは、「the 9th Anniversaryの思い出」の解放対象外となります。</p>
                </div>
            </div>
            <div class="m-Top12">
                <a href="../mypage.html">
                    <div class="backLink">마이스튜디오</div>
                </a>
            </div>
            <script type="text/template" id="templateOpenExtraIdol">
                
<div class="p-Top8 p-Btm12 popup-extra_idol">
<div class="memorial_extra_idol _9th _locked m-Cnt">
<div class="memorial_extra_idol_name _attr_<%- attribute %>">
<%- idol.card_name_k %>
</div>
</div>
<div class="displayBox m-Cnt m-Top8">
<img src='../image_sp/event_flash/1731/coin_5_1731_l.png' style="width:48px; height:48px; display:block; vertical-align:middle;">
<div class="m-Lft8">
<dl class="dl-value_set m-Top2">
<dt>プレゼントBOX所持数</dt>
<dd class="t-Rgt"><span class="yellow">0</span>個</dd>
</dl>
<% if(idol.next_gift != null) { %>
<dl class="dl-value_set m-Top4">
<dt>プレゼントBOX消費数</dt>
<dd class="t-Rgt"><span class="yellow"><%- idol.next_gift %></span>個</dd>
</dl>
<% } %>
</div>
</div>
<% if(idol.next_gift != null) { %>
<div class="_line_dot m-Top8"></div>
<% if(memorial_gift >= idol.next_gift) { %>
<div class="t-Cnt m-Top8 m-Btm8">
プレゼントBOXを<span class="yellow"><%- idol.next_gift %></span>個<br />使用して解放しますか?
</div>
<div class="area-btn-common _base-width">
<a class="btn_cancel_line_2 js_popup_close">キャンセル</a>
<form action='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http://125.6.169.35/idolmaster/event_produce/gift_memorial_present%3Foffset%3D0%26open_idol_flg%3D1%26l_frm%3DEvent_produce_select_idol_for_memorial_1%26rnd%3D413354308' method="post">
<label class="btn_decision_line_2" onclick=""><input type="submit" value="解放する"></label>
<input type="hidden" name="gift_number" value="<%- idol.next_gift %>">
<input type="hidden" name="idol_id" value="<%- idol.idol_base_id %>">
</form>
</div>
<% } else { %>
<div class="m-Top8 yellow t-Cnt">プレゼントBOXが不足しています</div>
<% } %>
<% } else { %>
<% } %>
</div>

            </script>
            <script type="text/javascript">
                if (window.popup == void 0)
                    window.popup = popup = new Commonjs.Popup();
                var all_idol_list = [{
                    "idol_base_id": "89",
                    "card_name": "\u9dfa\u6ca2\u6587\u9999",
                    "produce_idol_id": "7089",
                    "card_id": "2461201",
                    "idol_type": "1",
                    "attribute": "2",
                    "gift_count": "5",
                    "show_memorial": "1",
                    "select_max": 0,
                    "card_name_k": "\u9dfa\u6ca2\u6587\u9999"
                }, {
                    "idol_base_id": "196",
                    "card_name": "\u51b4\u5cf6\u6e05\u7f8e",
                    "produce_idol_id": "7196",
                    "card_id": "3345902",
                    "idol_type": "1",
                    "attribute": "3",
                    "gift_count": "5",
                    "show_memorial": "1",
                    "select_max": 0,
                    "card_name_k": "\u51b4\u5cf6\u6e05\u7f8e"
                }];
                var memorial_gift = 0;
                var show_url = 'http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http://125.6.169.35/idolmaster/event_produce/select_idol_result/__idol_id__%3Foffset%3D0%26open_idol_flg%3D1%26l_frm%3DEvent_produce_select_idol_for_memorial_1%26rnd%3D441160859';
                $('.jsBtnPopupExtraIdol').on('click', function() {
                    se_play('se_002');
                    var key = $(this).data('key');
                    var attr = $(this).data('attribute');
                    var idol = all_idol_list[key];
                    //解放済み
                    if (idol.next_gift == null) {
                        location.href = show_url.replace("__idol_id__", idol.idol_base_id);
                    }//解放する
                    else {
                        var param = {
                            "idol": idol,
                            "attribute": attr,
                            "memorial_gift": memorial_gift,
                        }
                        popup.set({
                            title: convertKana(idol.card_name, 'han') + 'コメントの解放',
                            contents: _.template($('#templateOpenExtraIdol').html(), param),
                            new_layout: true,
                            is_event: true,
                            color: 'bluegreen'
                        });
                        popup.open();
                    }
                });
                Commonjs.setSearchMore({
                    $trigger: $("#js_btn_search_more"),
                    $contents: $("#js_search_more_contents"),
                });
                Commonjs.setSearchCheckBox($("#checkbox_opened"));
                Commonjs.setSearchClear({
                    $trigger: $(".js_btn_clear"),
                    targets: [$("#search_idol_name"), $("input[name=open_idol_flg]")],
                });
            </script>
            <footer>
                <div class="line_idolmaster"></div>
                <a href="#top" id="toPageTop" class="mypage_under">
                    <div></div>
                </a>
            </footer>
        </div>
        <script>
            window._tarminal = {
                'native_app_flg': false,
                'android_app_flg': false,
                'ios_app_flg': false,
                'shell_app_flg': false
            };
        </script>
        <script>
            window._tarminal = {
                'native_app_flg': false,
                'android_app_flg': false,
                'ios_app_flg': false,
                'shell_app_flg': false
            };
        </script>
        <div id="mbga-pf-footer">
            <script type="text/javascript" charset="UTF-8">
                (function() {
                    document.addEventListener('DOMContentLoaded', function() {
                        var list = document.getElementsByClassName('mbga-pf-footer-li');
                        var i = 0
                          , l = list.length;
                        for (; i < l; i++) {
                            var elem = list[i];
                            elem.addEventListener('touchstart', function(e) {
                                e.currentTarget.className = e.currentTarget.className.replace(/$/, ' mbga-pf-tapped');
                            });
                            elem.addEventListener('touchend', function(e) {
                                e.currentTarget.className = e.currentTarget.className.replace(/ mbga-pf-tapped/, '');
                            });
                            elem.addEventListener('touchmove', function(e) {});
                        }
                    });
                }
                )();
            </script>
        </div>
    </body>
</html>
